# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Local development settings
venv/
*.env

# Logs and Databases
*.log
*.db

# IDE-specific files
.vscode/
.idea/

# Compiled Python bytecode
*.pyc

# Environment variables
.env

# Dependency directories
node_modules/
bower_components/
